/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
  font-family: 'Open-Sans', sans-serif, ;
  font-weight: 300;
  background-color: #fff;
}



.content {
  width: 1000px;
  padding: 25px 50px;
  margin: 25px auto;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
  font-family: "Google Sans";
}

.subcontent {
  width: 100%;
  padding: 12px;
  margin: 10px auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 10px;
  font-family: 'Google Sans', sans-serif;
}

.contentblock {
  width: 950px;
  margin: 0 auto;
  padding: 0;
  border-spacing: 25px 0;
}
.contentblock td {
  background-color: #fff;
  padding: 25px 50px;
  vertical-align: top;
  box-shadow: 0px 0px 10px #999;
  border-radius: 15px;
}
a, a:visited {
  color: #224b8d;
  font-weight: 300;
}
#authors {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
#conference {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
}
#authors a {
  margin: 0 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
code {
  display: block;
  padding: 10px;
  margin: 10px 10px;
}
p {
  line-height: 25px;
  text-align: justify;
}
p code {
  display: inline;
  padding: 0;
  margin: 0;
}
#teasers {
  margin: 0 auto;
}
#teasers td {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
#teasers img {
  width: 250px;
}
#results img {
  width: 133px;
}
#seeintodark {
  margin: 0 auto;
}
#sift {
  margin: 0 auto;
}
#sift img {
  width: 250px;
}
.downloadpaper {
  padding-left: 20px;
  float: right;
  text-align: center;
}
.downloadpaper a {
  font-weight: bold;
  text-align: center;
}
.teaser-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.teaser-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.summary-img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video-iframe {
  width: 1000;
  height: 800;
  margin: auto;
  display: block;
}
/* .container {
  display: flex;
  align-items: center;
  justify-content: center
} */
.image {
  flex-basis: 40%
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.boxshadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
}
.spacertr {
  height: 8px;
}
.spacertd {
  width: 40px;
}

button[type="submit"] {
  background-color: #007BFF; /* 蓝色背景 */
  color: white; /* 白色文字 */
  padding: 10px 20px; /* 内边距 */
  font-size: 16px; /* 字体大小 */
  border: none; /* 无边框 */
  border-radius: 5px; /* 圆角 */
  cursor: pointer; /* 鼠标指针 */
  transition: background-color 0.3s ease; /* 背景色过渡效果 */
  display: block;
  margin: 20px auto; /* 置于中央 */
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* 悬停时背景色 */
}


mark {
  background-color: #fffac1; /* 背景颜色为黄色 */
  color: #0a73d5; /* 文本颜色为黑色 */
  font-weight: bold
}

.video-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.video-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-label {
  text-align: center;
  margin-bottom: 10px;
}

.slider-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.slider-container {
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  margin-right: 10px;
}

.score-label {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  margin-top: 15px;
  margin-bottom: -10px;
}

.score-name-label {
  color: rgb(71, 117, 200);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 250px;
  margin-top: 15px;
  margin-bottom: -10px;
}
